// * {
    // border: 3px solid #73AD21;
// }
.model-size{
    width: 100%;
    max-width: 100%;
}

.supplier-list{
    overflow: auto;
}
.supplier-info-lists-item{
    overflow: auto;
}

.w-full{
    min-width: 100%;
  }
  
.h-full{
    min-height: 100%;
}

.clotheSectionItem{
    margin-bottom: 1.5rem;
}

.clothesSelectionItem{
    margin-bottom: 50px;
}

.tabCSS{
    color: black;
}
.mat-tab-label{
    background:aqua;
    color: black;
    width: 60px;
    height: 50px;
    font-size: 20px;
  }
  
  .tabCSS{
    color: black;
  }
  .smallBtn{
    width: 80px;
    height: 40px;
  }