<div class="card">
    <div class = "card-header">
    </div>

    <div class="card-body" id="mainContent"> 
        <div class = "col col-md-6">
            <h5 class="section0">
                Nhà cung cấp
            </h5>
            <select class="supplierSelection" id="supplierSelection" >
                <option [ngValue]="null">Chọn 1 nhà cung cấp</option>
                <option [ngValue]="supplier.tenNCC" *ngFor="let supplier of supplierList.items">{{ supplier.tenNCC }}</option>
            </select>
        </div>
        <div class = "col col-md-6">
            <h5 class = "section1">
                {{ '::Menu:Clothes' | abpLocalization }}
            </h5>
        </div>                           
        <ngx-datatable [rows]="clotheList.items" [count]="clotheList.totalCount" [list]="list" default class="clotheListTable">
            <ngx-datatable-column [name] = "'::TenMH' | abpLocalization" prop="tenMH"></ngx-datatable-column>
            <ngx-datatable-column [name] = "'::SizeMH' | abpLocalization" prop = "sizeMH"></ngx-datatable-column>
            <ngx-datatable-column [name] = "'::TonKho' | abpLocalization" prop = "tonKho"></ngx-datatable-column>
            <ngx-datatable-column [name] = "'::SLTonKhoToiThieu' | abpLocalization" prop = "slTonKhoToiThieu"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::Action' | abpLocalization" [maxWidth]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="addClothe(row.id)">
                        {{ '::Add' | abpLocalization }}
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Action' | abpLocalization" [maxWidth]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="editClothe(row.id)">
                        {{ '::Edit' | abpLocalization }}
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Action' | abpLocalization" [maxWidth]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="deleteClothe(row.id)">
                        {{ '::Delete' | abpLocalization }}
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>                  -->
    </div>

    <div class="card-footer">       
        <div><button class="btn btn-success" (click)="openBootstrapModal()" id="createImportBtn">Tạo phiếu nhập</button></div>
    </div>
</div>

<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (action == "edit" ? '::Edit' : '::Add') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody> 
        <form [formGroup]="form">
            <div class="form-group">
                <label for="clothe-name">Tên</label><span> * </span>
                <input type="text" id="clothe-name" class="form-control" formControlName="tenMH" autofocus />
            </div>
            <div class="form-group">
                <label for="clothe-size">Kích cỡ</label><span> * </span>
                <input type="text" id="clothe-size" class="form-control" formControlName="sizeMH" />
            </div>
            <div class="form-group">
                <label for="import-quantity">Số lượng nhập</label><span> * </span>
                <input type="number" id="import-quantity" class="form-control" formControlName="soLuongNhap" />
            </div>
            <div class="form-group">
                <label for="import-price">Giá nhập</label><span> * </span>
                <input type="number" id="import-price" class="form-control" formControlName="giaNhap" />
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>
  
        <button class="btn-primary" (click)="save()" [disabled]="form.invalid">
          <i class="fa fa-check mr-1"></i>
          {{ '::Save' | abpLocalization }}
        </button>
      </ng-template>
</abp-modal>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Hành động</h4>
          <button type="button" class="btn-close" (click)="closeBootstrapModal()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="selectedClothes">
                <div>
                    <h5>Danh sách mặt hàng đã chọn</h5>
                </div>
                <table class="selectedClothesTable">
                    <tr>
                        <th class="tenMHSelected">Tên</th>
                        <th class="sizeMHSelected">Kích cỡ</th>
                        <th class="soLuongNhapSelected">Số lượng nhập</th>
                        <th class="giaNhapSelected">Giá nhập</th>
                        <th class="thanhTienNhapSelected">Thành tiền nhập</th>
                    </tr>
                    <tr *ngFor="let clothe of selectedClotheListToDisplay">
                        <td>{{clothe.tenMH}}</td>
                        <td>{{clothe.sizeMH}}</td>
                        <td>{{clothe.soLuongNhap}}</td>
                        <td>{{clothe.giaNhap}}</td>
                        <td>{{clothe.thanhTienNhap}}</td>
                    </tr>
                </table>      
            </div>

            <div class="importInfo" >

                <div>
                    <h5>Thông tin phiếu nhập</h5>
                </div>
                <form id="import-form">
                    <div class="form-group">
                        <label for="import-supplier">Nhà cung cấp</label><span> * </span>
                        <input type="text" id="import-supplier" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="import-creator">Người tạo</label><span> * </span>
                        <input type="text" id="import-creator" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="import-total">Tổng tiền</label><span> * </span>
                        <input type="number" id="import-total" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="import-status">Tình trạng phiếu nhập</label><span> * </span>
                        <input type="text" id="import-status" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="import-id">Mã phiếu nhập</label><span> * </span>
                        <input type="text" id="import-id" class="form-control" readonly/>
                    </div>
                </form>
                
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn-primary" (click)="createImport()">Tạo phiếu nhập</button>
            <button type="button" class="btn btn-danger" (click)="cancelImport()">Hủy phiếu nhập</button>
        </div>
  
      </div>
    </div>
  </div>